SQL queries for joins
-- Warmup select statements 

--Get all patients' first and last names.
--select first_name, last_name from patients;

--List all admissions with patient IDs and admission dates
--select patient_id, admission_date from admissions;

--Show all doctors’ full names and specialties.
--select first_name, last_name, specialty from doctors;

--Get all province names from the province_names table.
--select province_name from province_names;

--Find all patients who have allergies listed.
--select first_name, allergies from patients where allergies not null;

--Intermediate Level (Simple Joins)

--List patient names along with their province name.
--(Join patients with province_names)
--select p.first_name, pr.province_name 
--from patients p
--join province_names pr on p.province_id = pr.province_id;


--Show each patient’s name and their diagnosis from the admissions table.
--(Join patients with admissions)
--select p.first_name, a.diagnosis from patients p
--join admissions a on p.patient_id = a.patient_id;


--Get all admissions with patient full name and attending doctor’s full name.
--(Join patients, admissions, doctors)
--select a.*, p.first_name, p.last_name, d.first_name, d.last_name
--from admissions a
--join patients p on a.patient_id = p.patient_id
--join doctors d on a.attending_doctor_id = d.doctor_id;

--Find all patients admitted after 2022-01-01 and their city.
select P.*, 


--Show all patients along with their admission date and discharge date, even if they have no discharge date.

